// scss-docs-start import-stack
// Configuration
@import "functions";
@import "variables";
@import "mixins";
@import "utilities";

// Layout & components
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "nav";
@import "navbar";
@import "card";
@import "accordion";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "alert";
@import "progress";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "offcanvas";
@import "placeholders";

// Helpers
@import "helpers";

// Utilities
@import "utilities/api";
// scss-docs-end import-stack

.brand-text-icon {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.75rem;
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

.text-gray-900 {
  color: $secondary;
}

nav#navbar {
  border-bottom: 1px solid #e0f3f0;

  .navbar-nav {

    li.nav-item {

      &.active {

        a.nav-link {
          position: relative;
          color: $primary;
          font-weight: 500;
        }
      }

      a {
        &.nav-link {
          position: relative;
        }

        &.nav-link::after {
          content: "";
          background-color: $primary;
          position: absolute;
          width: 0;
          height: 0.2rem;
          bottom: .2rem;
          left: 20%;
          transition: .4s;
          border-radius: 50px;
        }

        &.nav-link:hover::after {
          width: 60%;
        }

        &.nav-link {
          color: $secondary;
        }
      }
    }
  }
}