// scss-docs-start import-stack
// Configuration
@import "functions";
@import "variables";
@import "mixins";
@import "utilities";

// Layout & components
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "container-grid";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "nav";
@import "navbar";
@import "card";
@import "accordion";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "alert";
@import "progress";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "offcanvas";
@import "placeholders";

// Helpers
@import "helpers";

// Utilities
@import "utilities/api";
// scss-docs-end import-stack

// my variables
$my-primary-text: #b0b0b0;

.my-primary-text {
  color: $my-primary-text;
}

//=============================
body {
  font-family: Poppins, sans-serif;
}

.brand-text-icon {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.75rem;
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

.text-gray-900 {
  color: $secondary;
}

nav#navbar {
  border-bottom: 1px solid #e0f3f0;

  .navbar-nav {
    position: relative;

    li.nav-item {
      &.active {
        a.nav-link {
          position: relative;
          color: $primary;
          font-weight: 500;

          &::after {
            content: "";
            background-color: $primary;
            position: absolute;
            width: 60%;
            height: 0.2rem;
            bottom: 0.2rem;
            left: 20%;
            transition: 0.4s;
            border-radius: 50px;
          }

          @media (max-width: 992px) {
            &::after {
              width: 0;
            }
          }
        }
      }

      a {
        &.nav-link {
          position: relative;
          transition: 0.4s;

          &:hover {
            color: $primary;
          }
        }

        &.nav-link::after {
          content: "";
          background-color: $primary;
          position: absolute;
          width: 0;
          height: 0.2rem;
          bottom: 0.2rem;
          left: 20%;
          transition: 0.4s;
          border-radius: 50px;
        }

        &.nav-link:hover::after {
          width: 60%;
        }

        @media (max-width: 992px) {
          &.nav-link:hover::after {
            width: 0;
          }
        }

        &.nav-link {
          color: $secondary;
        }
      }
    }
  }
}

.card {
  height: 100%;
  border: none;
  overflow: hidden;
  border-radius: 20px;

  .tag {
    position: absolute;
    z-index: 3;
    color: $white;
    background-color: rgb(255, 145, 0);
    padding: .25rem 1.25rem;
    font-size: .875rem;
    border: none;
    border-radius: 0 15px;
    top: 0;
    right: 0;
    font-weight: 500;

    .tag-text {
      font-weight: 300;
    }
  }

  .img-wrapper {
    overflow: hidden;
    height: 100%;
    margin-bottom: 0;
    border-radius: .9375rem;
  }

  .meta-wrapper {
    margin-top: 1rem;
    margin-bottom: .5rem;

    h5 {
      font-size: 1.25rem;
      margin-bottom: .25rem;
      font-weight: 400;
    }

    a {
      text-decoration: none;
      transition: .5s;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      font-size: 1rem;
      font-weight: 300;
    }

  }

  &.card-featured {
    overflow: hidden;
    cursor: pointer;
    height: 100%;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(1.1);
      transition: 0.5s transform ease-in-out;
      z-index: 2;
      @include gradient-y(rgba($black, 0), rgba($black, 0.51), 0%, 100%);
    }

    .img-wrapper {
      position: absolute;
      z-index: 1;
      color: $white;
      margin: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(1.1);
      transition: 0.5s transform ease-in-out;
      border-radius: $border-radius;
    }

    .meta-wrapper {

      z-index: 4;
      color: $white;
      padding: 1.5rem;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      transform: translateY(0);
      transition: .3s transform ease-in-out;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }

    &:hover {
      .meta-wrapper {
        transform: translateY(-5px);
      }

      &::after,
      .img-wrapper {
        transform: scale(1);
      }
    }
  }
}

section {
  margin-bottom: 4.375rem;

  h3.section-heading {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1.875rem;
  }
}

.img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-contain {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

section.hero#hero {
  padding-top: 4rem;
  margin-bottom: 6.25rem;

  .container {
    .row {
      h1.hero-heading {
        font-style: normal;
        font-weight: bold;
        line-height: 63px;

        & span {
          color: $primary;
        }
      }

      p.hero-text {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        color: $my-primary-text;
      }

      p.text-icon {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        color: $my-primary-text;

        & span {
          font-weight: 500;
          color: $secondary;
        }
      }

      @media (max-width: 992px) {
        &.hero-container {
          flex-direction: column-reverse;

          .img-hero {
            margin-bottom: 3rem;
            // width: 80%;
          }
        }
      }
    }
  }
}